<header>
	<a href="/" class="logo"><img src="../../img/logo.png" alt="ảnh lỗi" /></a>
	<i class="bx bx-menu" id="icon-menu"></i>
	<ul class="navbar">
		<li><a href="/">Trang chủ</a></li>
		<li><a href="/product">Sản phẩm </a></li>
		<li><a href="/news">Tin Tức</a></li>
	</ul>
	<div class="header-icons">
		<span id="icon-user">Login</span>
	</div>
	<div class="box-auth" id="box-auth">
		{{!-- {{#if isLoggedIn isLoggedInGoogle}} --}}
		{{#if isLoggedIn}}
			<a href="/auth/logout"><span id="logout"><i class="bx bxs-log-out"></i>Đăng Xuất</span></a>
			<a href="/profile"><span class="profile"><i class="bx bxs-user-account"></i>Hồ sơ</span></a>
			<a href="/showCart"><span class="profile"><i class="bx bxs-cart"></i>Đơn hàng</span></a>
		{{else}}
			<a href="/auth/login"><span><i class="bx bx-log-in"></i> Đăng Nhập</span></a>
			<a href="/auth/signup"><span><i class="bx bx-user-plus"></i> Đăng kí</span></a>
		{{/if}}

	</div>
</header>